{{#layout}}
<div class="container">
    <h1>Course Input Form (Currently Working)</h1>
    <form action="#" method="post">
        <p>Course Title: <input type="text" required="true" name="courseTitle" /></p>
        <p>Course Description: <input type="text" required="true" name="courseDescription"></p>
        <p>Number of Credits: <input type="number" required="true" name="courseCredits"value="0" /></p>
        <p>Learning Objectives: <input type="text" required="true" name="courseLearningObjectives"/></p>
        <p>Prerequisites: <select name="coursePrereqs">
            <option value="FRESHMAN">Freshman</option>
            <option value="SOPHOMORE">Sophomore</option>
            <option value="JUNIOR">Junior</option>
            <option value="SENIOR">Senior</option>
        </select>
            <p>Department: <select name="courseDepartment">
        {{#alldepartments}}
            <option value="{{id}}">{{departmentName}}</option>
        {{/alldepartments}}
        </select>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
{{/layout}}
{{>layout}}