{{#layout}}
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Course Input Form (Testing)</h1>
    <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
        <p>Course Title: <input type="text" name="courseTitle" th:field="*{courseTitle}" /></p>
        <p>Course Description: <input type="text" name="courseDescription" th:field="*{courseDescription}" /></p>
        <p>Number of Credits: <input type="number" name="courseCredits" th:field="*{courseCredits}" /></p>
        <p>Learning Objectives: <input type="text" name="courseLearningObjectives" th:field="*{courseLearningObjectives}" /></p>
        <p>Prerequisites: <select th:object="${ClassLevel}" name="coursePrereqs" th:field="*{coursePrereqs}">
            <option th:value="*{FRESHMAN}">FRESHMAN</option>
            <option th:value="*{SOPHOMORE}">SOPHOMORE</option>
            <option th:value="*{JUNIOR}">JUNIOR</option>
            <option th:value="*{SENIOR}">SENIOR</option>
        </select>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
{{/layout}}
{{>layout}}