{{#layout}}
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
	   	    <h1>User Input Form (currently not working)</h1>
	    <form action="#" th:action="@{/users/adduser}" th:object="${user}" method="post">
	    	<!-- Removed this input line, since the user gets an id when added to the database
			<p>Id: <input type="text" th:field="*{id}" /></p>
			-->
			<!-- Added name fields so that the data in the form gets placed in a map -->
			<p>First Name: <input type="text" name="firstName" th:field="*{firstName}" /></p>
	        <p>Last Name: <input type="text" name="lastName" th:field="*{lastName}" /></p>
	        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	    </form>
	</div>
{{/layout}}
{{>layout}}