{{#layout}}
{{#schedule}}
<div class="container">
    <h1>Schedule Input Form (Working)</h1>
    <form action="/schedules/updateschedule/{{id}}" method="get">
        <p>Room:
            <select name="room">
                <option value="{{room.id}}">{{room.roomNumber}}</option>
                {{#allrooms}}
                <option value="{{id}}" >{{roomNumber}}</option>
                {{/allrooms}}
            </select>
            Building:
            <select name="building">
                <option value="{{building.id}}">{{building.buildingName}}</option>
                {{#allbuildings}}
                <option value="{{id}}" >{{buildingName}}</option>
                {{/allbuildings}}
            </select>
        </p>

        <p> Semester:<input type="text" name="semester" value="{{semester}}"/></p>
        <p> Start Date:<input type="text" name="startDate" value="{{startDate}}"/></p>
        <p> Duration:<input type="number" name="duration" value="{{duration}}"/></p>
        <p> Days:<input type="text" name="days" value="{{days}}"/></p>
        <p> Hours:<input type="text" name="hours" value="{{hours}}"/></p>


        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
{{/schedule}}
{{/layout}}
{{>layout}}