{{#layout}}
{{#room}}
<div class="container">
    <h1>Room Input Form (Currently Working)</h1>
    <form action="/rooms/updateroom/{{id}}" method="get">
        <p>Building: <select name="building">
            {{#allbuildings}}
            <option value="{{id}}">{{buildingName}}</option>
            {{/allbuildings}}
        </select></p>
        <p>Room Number: <input type="number" name="roomNumber" value="{{roomNumber}}" /></p>
        <p>Room Capacity: <input type="number" name="roomCapacity" value="{{roomCapacity}}" /></p>
        {{/room}}
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
{{/layout}}
{{>layout}}