<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link href="../static/css/style.css" rel="stylesheet" media="screen"/>
</head>
<body bgcolor="black">
<div class="row text-center"><img src="https://http.cat/404"></div>
</body>
</html>