{{#layout}}
<div>
    <h2>Room List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Room Number</th>
            <th>Capacity</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#allrooms}}
        <tr>
            <td>{{id}}</td>
            <td>{{roomNumber}}</td>
            <td>{{roomCapacity}}</td>
            <td><a href="/rooms/getroom/{{id}}">View</a></td>
            <td><a href="/rooms/editroom/{{id}}">Edit</a></td>
            <td><a href="/rooms/deleteroom/{{id}}">Delete</a> </td>
        </tr>
        {{/allrooms}}
    </table>
</div>
<div class="row">
    <button type="button" onclick="history.back()" class="btn btn-default">Back</button>
    <button type="button" onclick="window.location.href='/rooms/addroom'" class="btn-default">New Room</button>
</div>
{{/layout}}
{{>layout}}