{{#layout}}
<div>
    <h2>Section List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Course</th>
            <th>Professor</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr>
            {{#allsections}}
            <td>{{id}}</td>
            <td>{{course.title}}</td>
            <td>{{professor.lastName}}</td>
            <td><a href="/sections/getsection/{{id}}">View</a></td>
            <td><a href="/sections/editsection/{{id}}">Edit</a></td>
            <td><form action="/sections/deletesection/{{id}}" method="delete"><button type="submit">Delete</button> </form></td>
        </tr>
        {{/allsections}}
    </table>
</div>
<div class="row">
    <button type="button" onclick="history.back()" class="btn btn-default">Back</button>
    <button type="button" onclick="window.location.href='/sections/addsection'" class="btn-default">New Section</button>
</div>
{{/layout}}
{{>layout}}