<!-- source for bootstrap menu: https://getbootstrap.com/docs/3.3/components/ -->


<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><a href="/">Home</a></button>
    <button type="button" class="btn btn-default"><a href="/users/">Current Users</a></button>
    <button type="button" class="btn btn-default"><a href="/departments/">Departments</a></button>
    <button type="button" class="btn btn-default"><a href="/courses/">Courses</a></button>
    <button type="button" class="btn btn-default"><a href="/buildings/">Buildings</a></button>
    <button type="button" class="btn btn-default"><a href="/rooms/">Rooms</a></button>
    <button type="button" class="btn btn-default"><a href="/sections/">Sections</a></button>
    <button type="button" class="btn btn-default"><a href="/schedules/">Schedules</a></button>
</div>