<!-- source for bootstrap menu: https://getbootstrap.com/docs/3.3/components/ -->


<div class="btn-group" role="group" aria-label="...">
    <a href="/">
        <button type="button" class="btn btn-default">Home</button>
    </a>
    <a href="/users/">
        <button type="button" class="btn btn-default">Current Users</button>
    </a>
    <a href="/departments/">
        <button type="button" class="btn btn-default">Departments</button>
    </a>
    <a href="/semesters/">
        <button type="button" class="btn btn-default">Semesters</button>
    </a>
    <a href="/courses/">
        <button type="button" class="btn btn-default">Courses</button>
    </a>
    <a href="/buildings/">
        <button type="button" class="btn btn-default">Buildings</button>
    </a>
    <a href="/rooms/">
        <button type="button" class="btn btn-default">Rooms</button>
    </a>
    <a href="/sections/">
        <button type="button" class="btn btn-default">Sections</button>
    </a>
    <a href="/schedules/">
        <button type="button" class="btn btn-default">Schedules</button>
    </a>
    <a href="/enrollments/">
        <button type="button" class="btn btn-default">Register</button>
    </a>
</div>